/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/

/* @media (prefers-color-scheme: dark) */

/* Estilos para el menú fijo al desplazarse por la web */ 





/* Dark/Light mode */

:root{
    --primary-color: rgba(255, 255, 255, 0.808);
    --secondary-color: #212121;
}


.dark-theme{
    --primary-color: #000019;
    --secondary-color: #edf2fc;
}

#icon{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

#icon2{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon2:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}


/* Estilos para el menú fijo */
#menu {
    position: relative;
    transition: top 0.3s; /* Animación suave para mostrar/ocultar el menú */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    display: inline-block;
    background: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: top 0.3s;
}


#main.visible {
    top: 0; /* Muestra el menú cuando la clase 'visible' está presente */
}

/* Estilos para el menú fijo */
.fixed-menu-style{
    position: fixed;
    /* display: inline-block; */
    top: 0;
    padding-left: 0px;
    width: 110px; /* Ancho del menú */
    height: 100%; /* Altura del menú */
    background: var(--primary-color);
    text-align: center;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow-y: auto; 
    overflow-x: hidden;              /* Añade barra deslizadora si falta espacio para ver todos los elementos */

    animation-name: dropHeader2;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.55s;

}

.fixed-menu-style ul {
    width: 150px;
    right: 30px; /* Ajusta la posición hacia la izquierda */
    align-items: center;
}

.fixed-menu-style li {
    margin-bottom: 5px; /* Espacio entre elementos del menú */
}

.fixed-menu-style a {
    display: block;
    color: var(--primary-color-titles); /* Color del texto del menú */
    text-decoration: none;
    padding: 8px 12px; /* Ajustar el espacio alrededor del texto del enlace */
}

/* ---------------------------------------------------------------------- */

/* Estilos generales */
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

body.active {
    overflow: hidden;
    z-index: -1;
}

/* Estilos para elementos con clase no-js en #experience-timeline */
.no-js #experience-timeline>div {
    background: var(--primary-color-titles);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
}

.no-js #experience-timeline>div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline>div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.no-js #experience-timeline>div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}

/* Animaciones */
@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes dropHeader2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {

    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}




.flags {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 2px;
}

.flags__item {
    width: 25px; /* Tamaño pequeño */
    margin-left: 15px; /* Espacio entre las banderas */
}

.flags__img{
    display: block;
    padding: 10px;
}


.dark {
    position: absolute;
    top: 4px;
    right: 585px;
    display: flex;
    align-items: left;
}

.dark__item {
    width: 25px; /* Tamaño pequeño */
    /* margin-left: 10px; Espacio entre las banderas */
}

.dark__img{
    display: block;
    cursor: pointer;
}

.lead-img{
    border-radius: 50%; /* Esto hace que el borde sea redondo */
}



/* Estilos para el encabezado */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
}

header ul {
    display: inline-block;
    background: var(--primary-color);
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

header li {
    display: inline-block;
}

header a {
    display: block;
    color: var(--primary-color-titles);
    padding: 10px;
}

header a:hover {
    color: #217dbb;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 100px;
}

header a:focus {
    color: #3498db;
    text-decoration: none;
}

header.active {
    display: block;
}

header.sticky {
    position: fixed;
    z-index: 999;
}

/* Menú móvil */

#menu.active {
    display: block;
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #3498db;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: var(--primary-color);
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: var(--primary-color);
    font-size: 1.5em;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    cursor: pointer;
    color: #3498db;
}

#mobile-menu-close span {
    font-size: 0.6em;
    text-transform: uppercase;
}

#mobile-menu-close i {
    vertical-align: middle;
}

#mobile-menu-close img {
    margin-top: -48px;
}

/* Pie de página */
footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;
}

.copyright p {
    margin: 0;
    color: #74808a;
}

/* Elementos generales */
.top {
    text-align: center;
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #b9bfc4;
    text-align: center;
}

.top i {
    color: #74808a;
}

.social {
    text-align: right;
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0;
}

.social li {
    display: inline-block;
    font-size: 1.75em;
    list-style: none;
}

.social a {
    display: inline-block;
    color: #74808a;
    padding: 10px;
    width: 55px; /* Ajusta el ancho del enlace según tus necesidades */
    height: 55px; /* Ajusta la altura del enlace según tus necesidades */
    text-align: center; /* Centra el ícono verticalmente */
    line-height: 40px; /* Centra el ícono verticalmente */
}

.social a:hover {
    color: #3498db;
}



/* Botón redondeado blanco */
.btn-rounded-white {
    display: inline-block;
    color: var(--primary-color);
    padding: 15px 25px;
    border: 3px solid var(--primary-color);
    border-radius: 30px;
    transition: .5s ease all;
}

.btn-rounded-white:hover {
    color: #3498db;
    background: #edf2fc;
    text-decoration: none;
}

/* Sombras */
.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-large {
    box-shadow: 5px 0px 50px 10px  rgba(28, 7, 145, 0.938), -5px -0px 50px -10px  rgba(28, 7, 145, 0.938);
}

/* Encabezado */
.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}

/* Fondo alternativo */
.background-alt-2 {
    background: var(--primary-color-alt);
}

/* Sección de introducción */
#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/lead-bg.jpg);
    background-size: cover;
    padding: 15px;
    overflow: hidden;
}


#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lead-content h1,
#lead-content h2 {
    margin: 0;
}

#lead-content h1 {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 4.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#lead-content h2 {
    /* color: #a0cfee; */
    color: #ffff82;
    font-weight: 650;
    font-size: 2.50em;
    margin-top: 20px;
}

#lead-content p{
    color: var(--primary-color);
    margin-top: 10px;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33, 125, 187, 0.8);
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: var(--primary-color);
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #a0cfee;
    text-align: center;
}

#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Acerca de */
#about {
    padding: 75px 15px;
    border-bottom: 1px solid #dcd9d9;
    color: var(--primary-color-titles); 
}

#about h2 {
    color: var(--primary-color-titles); 
}

#about p {
    color: var(--primary-color-titles);
}

/* Experiencia */
#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
}

#experience h2 {
    color: var(--primary-color-titles);
}

#experience p {
    color: var(--primary-color-titles);
}

#experience a {
    color: var(--primary-color-titles);
    transition-duration: 1s;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #3498db;
    z-index: 0;
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    background: var(--primary-color);
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--primary-color-titles);
    display: inline-block;
    margin: 0;
}

.vtimeline-content h4 {
    font-size: 1.3em;
    font-style: italic;
    font-weight: 400;
    color: var(--primary-color-titles);
    margin: 0 0 15px 0;
}

.vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: var(--primary-color);
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 25%;
    float: left;
    z-index: 99;
    margin-left: 280px;
    animation: zoomIcon 2s infinite alternate; /* Animación de rotación infinita */
    transition: all 0.3s ease;
    cursor: pointer;
}

.fa-map-marker::before {
    content: "\f041"; }

@keyframes zoomIcon {
    0% { transform: scale(0.95); }
    100% { transform: scale(1.1); }
}

.vtimeline-icon:hover {
    transform: scale(1.1); /* Escala del icono al pasar el mouse sobre él */
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;

}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: var(--primary-color-titles);
}

/* Educación */
#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

#education h2 {
    color: var(--primary-color-titles);
    margin-bottom: 50px;
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
    position: relative;
}

.education-block h3 {
    font-weight: 600;
    float: left;
    margin: 0;
    color: var(--primary-color-titles);
}

.education-block span { /* date */
    color: var(--primary-color-titles); 
    float: right;
}

.education-block h4 {
    color: var(--primary-color-titles);
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.education-block p,
.education-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em;
}

.education-block ul {
    padding: 0 0 0 15px;
}

.education-block img {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 4px;
    right: 4px;
}



/* Certificates */
#certificates {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

#certificates h2 {
    color: var(--primary-color-titles);
    margin-bottom: 50px;
}

.certificate-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left;
}

.certificate-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: var(--primary-color-titles);
}

.certificate-block span {
    color: var(--primary-color-titles);
    float: right;
}

.certificate-block h4 {
    color: var(--primary-color-titles);
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.certificate-block p,
.certificate-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em;
}

.certificate-block ul {
    padding: 0 0 0 15px;
}

/* Proyectos */
#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

#projects h2 {
    color: var(--primary-color-titles);
    margin-bottom: 50px;
}

#projects li {
    display: inline-block;
    margin: 5px;
    padding: 3px 6px;
    color: #f0f8ff;
    background: #16527a;
    list-style: none;
    cursor: default;
    font-size: 1em;
    margin-right: 3px;
    border-radius: 10px;
}

.project {
    position: relative;
    max-width: 1400px;
    margin: 0 auto 100px auto;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 5px;
    border-color: #3498db;
}

.project-image {
    float: left;
    max-width: 100%; /* Ajustar el tamaño máximo de la imagen al ancho del contenedor */
    height: auto; /* Mantener la proporción de aspecto */
    cursor: pointer;
}

/* Project without Slider */

.project-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 350px;
    padding: 15px;
}

.project-info h3 {
    font-size: 1.8em;
    font-style: italic;
    font-weight: 600;
    color: var(--primary-color-titles);
    position: relative;
}

.project-info p {
    color: var(--primary-color-titles);
    margin: 0 0 12px 0;
    font-size: 1em;
    text-align: left;
}

/* Project WITH Slider */

.project-info-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 350px;
    padding: 15px;
    text-align: left;
} 


.project-info-slider h3 {
    font-size: 1.6em;
    font-weight: 600;
    color: var(--primary-color-titles);
    position: relative;
}

.project-info-slider p {
    color: #74808a;
    margin: 0 0 0 0;
    font-size: 1em;
    text-align: left;
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
}

#more-projects {
    display: none;
}


/* Habilidades */
#skills {
    padding: 50px 15px;
    text-align: center;
}

#skills h2 {
    color: var(--primary-color-titles);
    margin-bottom: 50px;
}

#skills h3 {
    font-size: 1.3em;
    font-weight: 300;
    color: var(--primary-color-titles);
    margin: 0 0 15px 0;
    align-self: center;
    text-align: left;
    margin-right: 6px;
}

#skills h3-2 {
    font-size: 0.9em;
    font-weight: 200;
    color: var(--primary-color-titles);
    margin: 0 0 15px 0;
    margin-inline: 220px;
    align-self: center;
}

#skills ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
}

#skills ul2 {
    display: flex;
    justify-content: center ; /* Para centrar horizontalmente */
    align-items: center; /* Para centrar verticalmente */
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
}

#skills li-2 {
    flex: 1;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1em;
    margin-right: 3px;
    border-radius: 20px; /* Agregamos bordes redondeados */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
    transition: all 0.3s ease; /* Agregamos una transición suave */
}

#skills li-2:hover {
    background: #d0d0d6; /* Cambiamos el color de fondo al pasar el ratón */
}

#skills p {
    font-size: 0.8em;
    color: var(--primary-color-titles);
}

#skills li {
    flex: 1;
    display: inline-block;
    margin: 5px;
    padding: 0.5px 10px;
    color: #2750a8;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em;
    border-radius: 20px; /* Agregamos bordes redondeados */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agregamos una sombra suave */
    transition: all 0.3s ease; /* Agregamos una transición suave */
}

#skills li:hover {
    background: #d0d0d6; /* Cambiamos el color de fondo al pasar el ratón */
}

/* Contacto */
#contact {
    padding: 50px 15px;
    background: #3498db;
    text-align: center;
}

#contact h2 {
    margin: 0 0 15px 0;
    color: rgb(18, 13, 68);
    font-weight: 500;
}

#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #1d6fa5;
    color: var(--primary-color-titles);
    transition: .5s ease all;
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: var(--primary-color-titles);
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: var(--primary-color-titles);
    opacity: 1;
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: var(--primary-color-titles);
    opacity: 1;
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: var(--primary-color-titles);
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #16527a;
}

#contact-form textarea {
    height: 150px;
    resize: none;
}

#contact-form button {
    display: block;
    width: 100%;
    background: #95e89a;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #184404;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .5s ease all;
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* Sección opcional */
.optional-section {
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid #dcd9d9;
}

.optional-section h2 {
    color: var(--primary-color-titles);
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    background: var(--primary-color-titles);
    text-align: left;
}

.optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #374054;
}

.optional-section-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0;
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0;
    color: #74808a;
    font-size: 0.9em;
}

.optional-section-block ul {
    padding: 0 0 0 15px;
}

/* Responsive */
@media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }

    .vtimeline-icon {
        margin-left: 0;
    }

    .vtimeline-content {
        margin-left: 70px;
    }

    /* Dark/Light mode */

:root{
    --primary-color: rgba(255, 255, 255, 0.808);
    --secondary-color: #212121;
}


.dark-theme{
    --primary-color: #000019;
    --secondary-color: #edf2fc;
}

#icon{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

#icon2{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon2:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

}

@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
        background-color: var(--secondary-color);
    }

    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }

    #lead-content h1 {
        font-size: 3em;
    }

    #lead-content h2 {
        font-size: 1.75em;
    }

    #about {
        text-align: center;
        background-color: var(--primary-color);
    }

    #about p {
        text-align: left;
        color: var(--primary-color-titles);
    }

    /* Dark/Light mode */

:root{
    --primary-color: rgba(255, 255, 255, 0.808);
    --secondary-color: #212121;
}


.dark-theme{
    --primary-color: #000019;
    --secondary-color: #edf2fc;
}

#icon{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

#icon2{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon2:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

}


/* -------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    #mobile-menu-open,

    #mobile-menu-close {
        display:list-item ;
    }
    
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }

    
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
    #lead-content h1 {
        font-size: 2em;
    }
    #lead-content h2 {
        font-size: 1.3em;
    }
    #lead-content a {
        padding: 10px 20px;
    }
    #lead-down {
        display: none;
    }
    .education-block h3,
    .education-block span {
        float: none;
    }
    /* 
    .project-image {
        display: none;
     }
    */
    
    .project-image img {
        transition: transform 0.3s ease-in-out;
    }
    
    .project-image img:hover {
        transform: scale(1.1);
    }

    .project-info {
        position: relative;
        margin-left: -130px;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }

    .project-info p {
        color: var(--primary-color-titles);
        margin-left: -130px;
    }

    .project-info ul {
        margin-left: -90px;
    }

    .project-info button {
        margin-left: -100px;
    }

    .project-info-slider h3 {
        font-size: 20px;
        margin-right: 500px;
    }

    .project-info h3 {
        font-size: 1.6em;
        font-weight: 600;
        color: var(--primary-color-titles);
        position: relative;
    }



    footer {
        text-align: center;
    }
    .social {
        text-align: center;
    }

    /* Dark/Light mode */

:root{
    --primary-color: rgba(255, 255, 255, 0.808);
    --secondary-color: #212121;
}


.dark-theme{
    --primary-color: #000019;
    --secondary-color: #edf2fc;
}

#icon{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

#icon2{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon2:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

}


/* ------------------------------------------------------------- */




@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em;
    }
    #lead-content h2 {
        font-size: 1em;
    }
    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px;
    }

    /* Dark/Light mode */

:root{
    --primary-color: rgba(255, 255, 255, 0.808);
    --secondary-color: #212121;
}


.dark-theme{
    --primary-color: #000019;
    --secondary-color: #edf2fc;
}

#icon{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

#icon2{ 
    margin: 1em;
    width: 25px;
    cursor: pointer;
    background: rgb(238, 183, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(238, 183, 31);
}

#icon2:hover{
    background: rgb(238, 183, 31);
    box-shadow: 0 0 10px 7px rgba(238, 183, 31);
    border-radius: 10px;
}

}

/* Buttons in Projects WITHOUT Slider */ 

/* View Code Button */
.github-button {
    display: inline-flex;
    align-items: center;
    background-color: #374054;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.github-button:hover {
    background-color: #f0f0f09a; /* Cambia el color de fondo a gris claro cuando se pasa el cursor */
}


.github-logo {
    width: 20px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 5px;
}

/* View Project Button */
.view-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #a0cfee;
    color: #2750a8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 30px;
    border-radius: 50px;
    transition: background-color 0.5s; /* Agrega una transición suave al cambio de color de fondo */
}

.view-button:hover {
    background-color: #f0f0f09a; /* Cambia el color de fondo a gris claro cuando se pasa el cursor */
}


/* Buttons in Projects WITH Slider */ 

/* View Code Button */
.github-button-slider {
    display: inline-flex;
    align-items: center;
    background-color: #374054;
    color: white;
    border: none;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: 330px;
    margin-top: 29px;
    border-radius: 30px;
    transition: background-color 0.5s;
}

.github-button-slider:hover {
    background-color: #f0f0f09a; /* Cambia el color de fondo a gris claro cuando se pasa el cursor */
}

.github-logo {
    width: 20px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 5px;
}

/* View Project Button */
.view-button-slider {
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: #a0cfee;
    color: #2750a8;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 40px;
    border-radius: 50px;
    transition: background-color 0.5s; /* Agrega una transición suave al cambio de color de fondo */
}

.view-button-slider:hover {
    background-color: #f0f0f09a; /* Cambia el color de fondo a gris claro cuando se pasa el cursor */
}


/* Image Slider */
.slider {
    position: relative;
    width: 100%;
    margin:auto;
    overflow: hidden;
}

.slider img {
    display: none;
    cursor: pointer;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.7rem;
    padding: 5px 10px;
    background-color: #8fa9f0;
    color: var(--primary-color-titles);
    border: none;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 5px;
}

.slider span {
    font-size: 16px; margin-right: 5px;
}

.slider li {
    font-size: 16px; 
    margin-right: 5px;
}

.prev{
    left: -5px;
}

.next{
    left: 395px;
}

@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1;}
}

